*desktop.ini
*.csv
*.log
*.pw
*.zip
*.log
*.pw
* =====Sub Directories=====
*oauth2.txt
.\lib\gam-64\oauth2.txt
Archive
#VS Code Files
*.vscode

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
*.Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

notes.ps1
/notes.ps1
/lib/gam-64/oauth2.txt
/json/lookupTable.json
/bin/oauth2.txt
/jenkins_cmds.ps1
/bin/gam.exe
/Adobe Named Licensing for ALL.gdoc
/jenkins.ps1
/json/teacher-courses.json
/sql/SiteQueries/Fairview.sql